{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" style="width: 100px" name="symbol" placeholder="Stock" type="text">
            <br><br>
            <input autocomplete="off" autofocus class="form-control" style="width: 100px" name="shares" placeholder="Quantity" type="text">
            <br><br>
            <button class="btn btn-primary" type="submit">Buy shares</button>
        </div>
    </form>

{% endblock %}
